table {
    border: solid 3px black;
}

.cell{
    border: solid 1px black;
    padding-left: 5px;
    padding-right: 5px;
}

.word:hover{
    cursor: pointer;
}

#fill{
    background-color: black;
}

.def{
    width: 340px;
}

@media only screen and (max-width: 900px) {
    #wolf {
      max-width: 400px;
    }
  }

@media only screen and (max-width: 700px) {
#wolf {
    max-width: 300px;
}
}
